<div id="pagesBackground">
    <div class="pagesTitle">
        <div>
            <div class="pageTitle">{{title}}</div>
            <p class="pageSubTitle">{{subTitle}}</p>
        </div>
        <img class="cta-slider-bloc-image cta-shadow" src="/assets/quickbrain.png"/>
    </div>
</div>
 <div class="elementMenu">
    <div class="elementMenuContent">
        <div class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage" [innerHTML]="explaination"></p>
        </div>
    </div>
    <div #game class="game">
        <button [ngClass]="addButtonClass('button-width50',false)" (click)="startGame()" [disabled]="start">Start</button>
         <p class="message">{{ message }}</p>
         <div class="timer-bar" *ngIf="start && startChooseLevel">
            <div
                class="timer-fill"
                [style.width.%]="(timeGame / timeChoose) * 100"
                [ngStyle]="{
                    background: timeGame <= 2 ? '#ff4b4b' : '#58cc02'
                }"
            ></div>
         </div>
    </div>
    <div #insertremovelevel>
        <div class="level" id="levelGame">
            <button [ngClass]="start ? 'leveleasy':'leveleasy grey'" (click)="chooseLevel('easy')">{{easy}}</button>
            <button [ngClass]="start ? 'levelmedium':'levelmedium grey'" (click)="chooseLevel('medium')">{{medium}}</button>
            <button [ngClass]="start ? 'levelhard':'levelhard grey'" (click)="chooseLevel('hard')">{{hard}}</button>
        </div>
    </div>
    <div [ngClass]="start && startChooseLevel ? 'question':'question questionhidden'">
        <img *ngIf="typeQuestion != 'written'" class="" src="/assets/quickbrain/{{this.questionAsk.image}}">
        <div *ngIf ="language =='fr'" class="responses">
             <div class="response" *ngFor="let response of this.questionAsk.choices; let index = index;">
                <div class="responseAnswer" (click)="responseanswer(response)">{{response}}</div>
            </div>
        </div>
        <div *ngIf ="language =='en'" class="responses">
             <div class="response" *ngFor="let response of this.questionAsk.choicesEn; let index = index;">
                <div class="responseAnswer" (click)="responseanswer(response)">{{response}}</div>
            </div>
        </div>
    </div>
    <div class="elementMenuContent">
        <div class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage">{{message2}}</p>
        </div>
    </div>
     <div class="pageSubTitle bottomRightPage">Score : {{score}}</div>
 </div>
 <app-popup *ngIf="showEnd"
    (parentFirstMethod)="join()" 
    (parentSecondMethod)="quit()" 
    [titleContent]="endgaming"
    [content]="finalText"
    [titleButton1]="joinus"
    [titleButton2]="okText"
 >
 </app-popup>
