<div class="card">
    <div class="header">
        <h2>Traitement actuel</h2>
        <a href="">Voir tout</a>
    </div>
    <div class="treatment">
        <div class="top">
            <div>
                <div class="medicine">
                    Lévétiracétam
                    <span>1000 mg</span>
                </div>
                <div class="description">
                    1 comprimé matin et soir
                </div>
            </div>
            <div class="arrow">

                ❯

            </div>
        </div>
        <div class="progress">
            <div class="progress-value"></div>
        </div>
        <div class="bottom">
            <span class="status">
                Excellente observance
            </span>
            <span class="percent">
                98%
            </span>
        </div>
    </div>
</div>