<div class="card">
    <div class="header">
        <h2>{{actualTreamentTitle}}</h2>
        <a>{{seeEverything}}</a>
    </div>
    <div class="treatment">
        <div class="top">
            <div>
                <div class="medicine">
                    Lévétiracétam
                    <span class="medicineg">1000 mg</span>
                </div>
                <div class="description">
                    {{firtTreatmentDoseDescription}}
                </div>
            </div>
            <div class="arrow">

                ❯

            </div>
        </div>
        <div class="progress">
            <div class="progress-value"></div>
        </div>
        <div class="bottom">
            <span class="status">
                {{compliance}}
            </span>
            <span class="percent">
                98%
            </span>
        </div>
    </div>
</div>