<div id="pagesBackground">
    <div class="pagesTitle">
        <div>
            <div class="pageTitle">{{title}}</div>
            <p class="pageSubTitle">{{subTitle}}</p>
        </div>
        <img class="cta-slider-bloc-image cta-shadow" src="/assets/findnamedefinition.png"/>
    </div>
</div>
 <div class="elementMenu">
    <div class="elementMenuContent">
        <div *ngIf="!chooseLetter" class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage" [innerHTML]="explaination"></p>
        </div>
        <div *ngIf="!chooseLetter" class="letters-grid">
            <div 
                *ngFor="let letter of letters"
                class="letter-card"
                (click)="selectLetter(letter)"
            >
                {{ letter }}
            </div>
        </div>
        <div *ngIf="!chooseLetter" class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage">{{message2}}</p>
        </div>
        <div *ngIf="chooseLetter" class="screen">
            <div class="header">
                <div class="progress pageElements">
                {{ currentIndex + 1 }} / {{ words.length }}
                </div>

                <div class="pageElements">❤️ {{ lives }}</div>
            </div>
            <div class="letter pageElements">
                {{ selectedLetter }}
            </div>
            <div class="definition pageElements">
                {{ currentWord.definition }}
            </div>
            <input 
                [(ngModel)]="userAnswer"
                placeholder={{answer}}
            />
            <button class="pageElements white" (click)="submit()">{{validate}}</button>
            <div class="feedback" *ngIf="feedback">
                {{ feedback }}
            </div>
            <div class="pageSubTitle bottomRightPage">Score : {{score}}</div>
        </div>
    </div>
 </div>
 <app-popup *ngIf="showResult" 
    (parentFirstMethod)="restart()" 
    (parentSecondMethod)="quit()" 
    [titleContent]="victory ? victoryText : looseText"
    [content]="finalText"
    [titleButton1]="startover"
    [titleButton2]="exit"
    ></app-popup>
<app-popup *ngIf="showEnd" 
    (parentFirstMethod)="join()" 
    (parentSecondMethod)="quit()" 
    [titleContent]="endgaming"
    [content]="finalPlayedText"
    [titleButton1]="joinus"
    [titleButton2]="okText"
    ></app-popup>