<div class="next-card">
    <div class="card-title">
        {{nextStape}}
    </div>
    <div class="card-content">
        <div class="icon-wrapper">
            <div class="icon-circle">
               <img class="icon" src="../../../../assets/{{icon}}.png"/>
            </div>
        </div>
        <h3>
            {{nextStapeMessage}}
        </h3>
        <p>
            {{nextStapeSubtitleMessage}}
        </p>
        <button class="button-width50 primary-button"><img class="cta-slider-bloc-image cta-shadow iconSecond" src="../../../../assets/{{iconSecond}}.png"/> {{seeStatistics}}</button>
    </div>

</div>