<div class="next-card">
    <div class="card-title">
        Prochaine étape
    </div>
    <div class="card-content">
        <div class="icon-wrapper">
            <div class="icon-circle">
               <img class="icon" src="../../../../assets/{{icon}}.png"/>
            </div>
        </div>
        <h3>
            Continuez comme vous le faites !
        </h3>
        <p>
            Votre suivi régulier aide à mieux comprendre
            votre épilepsie.
        </p>
        <!--button class="primary-button">
            <img class="iconSecond" src="../../../../assets/{{iconSecond}}.png"/>
            Voir les statistiques
        </button-->
        <button class="button-width50 primary-button"><img class="cta-slider-bloc-image cta-shadow iconSecond" src="../../../../assets/{{iconSecond}}.png"/> Voir les statistiques</button>
    </div>

</div>