<div id="pagesBackground">
    <div class="pagesTitle">
        <div>
            <div class="pageTitle">{{title}}</div>
            <p class="pageSubTitle">{{subTitle}}</p>
        </div>
        <img class="cta-slider-bloc-image cta-shadow" src="/assets/patternbuilder.png"/>
    </div>
</div>
 <div class="elementMenu">
    <div class="elementMenuContent">
        <div class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage" [innerHTML]="explaination"></p>
        </div>
    </div>
    <div  #game class="simon-container">
        <button [ngClass]="addButtonClass('button-width50')" (click)="startGame()" [disabled]="start">Start</button>
        <div class="top">
            <div class="level pageSubTitle">{{ levelText }} {{ level }}</div>
            <div class="message pageSubTitle">
                {{ message }}
            </div>
        </div>
        <div class="board">
            <div
                class="pad yellow"
                [ngClass]="{'grey': !start, 'yellow': start, 'active' : start && activePad==='yellow', 'cursor': start && isPlaying  }"
                (click)="handleClick('yellow')"
            ></div>
        <div 
            class="pad blue"
            [ngClass]="{'grey': !start, 'blue': start, 'active' : start && activePad==='blue', 'cursor': start && isPlaying}"
            (click)="handleClick('blue')"
        ></div>
        <div 
            class="pad red"
            [ngClass]="{'grey': !start, 'red': start, 'active' : start && activePad==='red', 'cursor': start && isPlaying }"
            (click)="handleClick('red')"
        ></div>
        <div 
            class="pad green"
            [ngClass]="{'grey': !start, 'green': start, 'active' : start && activePad==='green', 'cursor': start && isPlaying }"
            (click)="handleClick('green')"
        ></div>
    </div>
</div>
 <div class="pageSubTitle bottomRightPage">Score : {{score}}</div>
  <app-popup *ngIf="showEnd"
    (parentFirstMethod)="join()"
    (parentStayMethod)="close()" 
    (parentSecondMethod)="quit()" 
    [titleContent]="endgaming"
    [content]="finalText"
    [stay]="true"
    [titleButton1]="joinus"
    [titleButton2]="okText"
 >
 </app-popup>