.elementMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    contain-intrinsic-size: auto 300px;
    background-color: #f7f8fe;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.elementMenuContent{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.elementMenuContentTextUnder{
    text-align: left;
}

.pagesTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 40px;
    padding-bottom: 20px;
}

.cta-slider-bloc-image {
    width: clamp(80px, 30vw, 150px);
    height: auto;
    flex-shrink: 0;
}

.cta-slider-bloc-image {
  width: clamp(100px, 30vw, 150px);
  height: auto;
}

.letters-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
  gap: 8px;
  padding: 10px;
  box-sizing: border-box;
}

.letter-card {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 12px;
  position: relative;
  cursor: pointer;

  transition: all 0.2s;
  font-family: "InterBold";

  transition: transform 0.15s, background 0.2s;

}

.letter-card:active {
  transform: scale(0.95);
}

.letter-card:hover {
  background: #2a78d8;
  color: white;
  transform: scale(1.05);
}

.letter-card-no{
    background: #c1c1c166;
    color: white;
}

.letter-card-no:hover {
  background: #c1c1c166;
  color: white;
  transform:none;
}

.containerLetter{
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;   
}

.containerLetter p {
  margin: 0;
}

.toast {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 12px;
}

.containerLetter p:first-child {
  font-size: clamp(14px, 4vw, 24px);
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.letter-card-no:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.3s;
}

.screen {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.letter {
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
}

.definition {
  font-size: 20px;
}

.dontforget{
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "InterBold";
    color: #213161;
    font-size: 12px;
}

input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  margin-top: 10px;
  padding: 15px;
  color: white;
  border: none;
  border-radius: 10px;
  background: linear-gradient(180deg, #3283dc, #1d65bf);
  font-size:16px;
  cursor: pointer;
}

.white{
    color: white;
}

.white:hover{
    background: linear-gradient(180deg, #3484e0, #2a78d8);
}

.feedback {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "InterBold";
}

.bottomRightPage{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
}

.pageSubTitle{
    //font-size: 18px;
    font-size: clamp(14px, 3.5vw, 18px);
}

.elementMenuContentTextUnder{
    text-align: left;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODAL */
.modal {
  background: white;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  max-width: 350px;
  text-align: center;

  border: 3px solid #1cb0f6; /* bleu Duolingo */
  animation: pop 0.3s ease;
}

/* ANIMATION */
@keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

/* ICON */
.icon {
    margin-bottom: 10px;
    font-family: 'InterBold';
    font-size: 30px;
}

/* TITRE */
.endh2 {
  margin-bottom: 10px;
}

/* SCORE */
.score {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'InterBold';
}

/* BOUTONS */
.actions button {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  margin-bottom: 10px;
  font-weight: bold;
}

/* RESTART */
.retry {
     background: linear-gradient(180deg, #3484e0, #2a78d8);
    color: white;
    cursor: pointer;
}

.retry:hover{
    background: linear-gradient(180deg, #3283dc, #1d65bf);
}

/* QUIT */
.quit {
  background: #eee;
}

.quit:hover {
  background: #2a78d8;
  color: white;
}

.wordfind{
  font-family: "InterBold";
  background: linear-gradient(#d6ecff, #b8dbff);
  border: 1px solid #7fb4e5;
  color: #2a5d8f;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 48px;
  min-width: 48px;
  position: relative;
  align-content: center;
  text-align: center;
  border-radius: 10px;
}

.wordtofind{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.selectedLetter{
  margin-right: 0px;
  margin-bottom: 10px;
}

.endingWord{
  margin-left: 0px;
  margin-top: 10px;
}

.inputuser{
  width: 100%;
  font-family: "InterBold";
  text-transform: uppercase;
}

.pagesTitle > div {
  flex: 1 1 200px; /* prend la place dispo mais peut passer à la ligne */
}

.pageTitle {
  font-size: clamp(20px, 5vw, 30px);
  padding-right: 10px;
}

@media (min-width: 600px) {
  .pagesTitle {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .wordtofind{
    flex-direction: row;
  }

  .selectedLetter{
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .endingWord{
    margin-left: 10px;
    margin-top: 0px;
  }
}

