<div id="pagesBackground">
    <div class="comingsoonbloc">
        <div class="comingsoonbutton">
            <div class="comingSoon">{{comingSoon}}</div>
        </div>
    </div>
    <div class="pagesTitle">
        <div class="contentPageTitle">
            <div class="pageTitle">{{titlePage}}</div>
            <div class="pageSubTitle">{{subtitlePage}}</div>
        </div>
        <button class="button-width50 button-journal-add-crisis"><img class="cta-slider-bloc-image cta-shadow cta-add-plus" src="/assets/plus_new.png"/> {{newCrisis}}</button>
    </div>
    <app-dashboard></app-dashboard>
</div>
