<div id="pagesBackground">
    <div class="pagesTitle">
        <div class="pageTitle">{{title}}</div>
        <div class="comingSoon">{{comingSoon}}</div>
    </div>
    <div class="elementMenu">
        <div class="elementMenuContent">
            <div class="elementMenuContentElementsText">
                <p class="title-cta-slider elementMenuContentText">{{titlePage}}</p>
            </div>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex">
            <div class="elementMenuContentElementsText elementMenuContentElementsTextFlex">
                <img class="cta-slider-bloc-image cta-shadow" src="/assets/check.png"/>
                <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage elementMenuContentTextUnderPageFlex">{{first}}</p>
            </div>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex elementMenuContentAlignFlexBottom">
            <img class="cta-slider-bloc-image cta-shadow cta-img-max" src="/assets/background_items_page_journal_historique_seizures.png"/>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex">
            <div class="elementMenuContentElementsText elementMenuContentElementsTextFlex">
                <img class="cta-slider-bloc-image cta-shadow" src="/assets/check.png"/>
                <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage elementMenuContentTextUnderPageFlex">{{second}}</p>
            </div>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex elementMenuContentAlignFlexBottom">
            <img class="cta-slider-bloc-image cta-shadow cta-img-max" src="/assets/background_items_page_journal_historique.png"/>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex">
            <div class="elementMenuContentElementsText elementMenuContentElementsTextFlex">
                <img class="cta-slider-bloc-image cta-shadow" src="/assets/check.png"/>
                <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage elementMenuContentTextUnderPageFlex">{{third}}</p>
            </div>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex elementMenuContentAlignFlexBottom">
            <img class="cta-slider-bloc-image cta-shadow cta-img-max" src="/assets/background_items_page_journal_historique_medicaments.png"/>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex">
            <div class="elementMenuContentElementsText elementMenuContentElementsTextFlex">
                <img class="cta-slider-bloc-image cta-shadow" src="/assets/check.png"/>
                <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage elementMenuContentTextUnderPageFlex">{{fourth}}</p>
            </div>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex elementMenuContentAlignFlexBottom">
            <img class="cta-slider-bloc-image cta-shadow cta-img-max" src="/assets/background_items_page_journal_historique_prise_medic_generale.png"/>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex">
            <div class="elementMenuContentElementsText elementMenuContentElementsTextFlex">
                <img class="cta-slider-bloc-image cta-shadow" src="/assets/check.png"/>
                <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage elementMenuContentTextUnderPageFlex">{{five}}</p>
            </div>
        </div>
        <div class="elementMenuContent elementMenuContentAlign elementMenuContentAlignFlex">
            <img class="cta-slider-bloc-image cta-shadow cta-img-max" src="/assets/background_items_page_journal_historique_prise_medic.png"/>
        </div>
        <div class="elementMenuContent">
            <div class="elementMenuContentElementsText">
                <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage">{{conclusion}}</p>
            </div>
        </div>
    </div>
</div>
