<div id="pagesBackground" *ngIf="!start">
    <div class="pagesTitle">
        <div>
            <div class="pageTitle">{{title}}</div>
            <p class="pageSubTitle">{{subTitle}}</p>
        </div>
        <img class="cta-slider-bloc-image cta-shadow" src="/assets/memorysequence.png"/>
    </div>
</div>
 <div class="elementMenu" *ngIf="!start">
    <div class="elementMenuContent">
        <div class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage" [innerHTML]="explaination"></p>
        </div>
    </div>
    <div #game class="game">
        <button [ngClass]="addButtonClass('start')" (click)="startGame()" [disabled]="start">Start</button>
    </div>
 </div>
 <app-popup *ngIf="showEnd && !start"
    (parentFirstMethod)="join()" 
    (parentSecondMethod)="quit()" 
    [titleContent]="endgaming"
    [content]="finalText"
    [titleButton1]="joinus"
    [titleButton2]="okText"
 >
 </app-popup>
 <app-games *ngIf="start" (onHide)="changeHide($event)" (onJoinUsExit)="join()"></app-games>
