<div id="pagesBackground">
    <div class="pagesTitle">
        <div>
            <div class="pageTitle">{{title}}</div>
            <p class="pageSubTitle">{{subTitle}}</p>
        </div>
        <img class="cta-slider-bloc-image cta-shadow" src="/assets/memorysequence.png"/>
    </div>
</div>
 <div class="elementMenu">
    <div class="elementMenuContent">
        <div class="elementMenuContentElementsText">
            <p class="title-cta-slider-under elementMenuContentTextUnder elementMenuContentTextUnderPage" [innerHTML]="explaination"></p>
        </div>
    </div>
    <div #game class="game">
        <button [ngClass]="addButtonClass('start')" (click)="startGame()" [disabled]="start">Start</button>
        <p class="message">{{ message }}</p>
        <div class="buttons" [ngClass]="addButtonClass('buttons')">
            <button [ngClass]="addClass('green')" (click)="selectColor(green)"></button>
            <button [ngClass]="addClass('red')" (click)="selectColor(red)"></button>
            <button [ngClass]="addClass('blue')" (click)="selectColor(blue)"></button>
            <button [ngClass]="addClass('yellow')" (click)="selectColor(yellow)"></button>
        </div>
    </div>
    <div class="pageSubTitle bottomRightPage">Score : {{score}}</div>
 </div>
 <app-popup *ngIf="showEnd"
    (parentFirstMethod)="join()" 
    (parentSecondMethod)="quit()" 
    [titleContent]="endgaming"
    [content]="finalText"
    [titleButton1]="joinus"
    [titleButton2]="okText"
 >
 </app-popup>
 <app-popup *ngIf="showPopup"
    (parentFirstMethod)="launchGame()"
    [content]="messagePopup"
    [titleButton1]="okText"
 >
 </app-popup>
