<section class="dashboard">

    <div class="stats">

        <app-em-stat-card
            icon="flash"
            value="18"
            label={{totalCrisis}}
            footer={{thisWeek}}
            color="#e2ecfe"
            iconFooter="increase">
        </app-em-stat-card>

        <app-em-stat-card
            icon="calendar"
            value="2"
            label="{{thisMonth}}"
            footer="{{month}}"
            class="calendarClass"
            color="#e3f7ee">
        </app-em-stat-card>

        <app-em-stat-card
            icon="time"
            value="1m42"
            label="{{averageDuration}}"
            footer="{{averageDurationThisMonth}}"
            color="#e6defe"
            iconFooter="decrease">
        </app-em-stat-card>

        <app-em-stat-card
            icon="medicaments"
            value="98%"
            label="{{treatment}}"
            footer="{{treatmentMessage}}"
            color="#feefdd">
        </app-em-stat-card>
    </div>

    <div class="grid">
        <div class="left">
            <app-chart-card></app-chart-card>
        </div>
        <div class="right">
            <app-next-exercice
                icon="nextstep"
                iconSecond="statistics"
                iconSecondHover="statistics_hover">
            </app-next-exercice>
        </div>

    </div>
    <div class="grid gridleft">
        <div class="left">
            <app-crisistimeline></app-crisistimeline>
        </div>
        <div class="right">
            <app-treatment-card></app-treatment-card>
            <app-medication-history></app-medication-history>
            <app-important-note></app-important-note>
        </div>
    </div>
</section>