.elementMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 20px;
    contain-intrinsic-size: auto 300px;
    background-color: #f7f8fe;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.elementMenuContent{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.elementMenuContentTextUnder{
    text-align: left;
}

.pagesTitle{
    padding-bottom: 0px;
}

.cta-slider-bloc-image {
    max-width: 150px;
}

.container {
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
}

.progress {
  height: 10px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.bar {
  height: 100%;
  background: #58cc02;
  border-radius: 10px;
  transition: width 0.3s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.cell {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #e0e6f0;
  border-radius: 10px;
}

.cell.active {
  background: #1cb0f6;
  //transform: scale(1.1);
}

.actions button {
  width: 120px;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
}

.match {
  background: #58cc02;
  color: white;
  cursor: pointer;
}

.no-match {
  background: #ff4b4b;
  color: white;
  cursor: pointer;
}

.feedback {
  margin-top: 15px;
  font-size: 18px;
}

.button-width50{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.levelcolor{
    background: linear-gradient(180deg, #e4933e, #f0810c);
}

.levelletters{
    background: linear-gradient(180deg, #0a74dd, #2382e1);
}

.grey { background: #c1c1c166;}

.bottomRightPage{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 30px;
}

.pageSubTitle{
    font-size: 18px;
}

.message {
    font-size: 20px;
    margin: 30px 0;
    min-height: 30px;
    font-family: "InterBold";
    color: #07387b;
}

.level{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.level button{
    width: 100%;
    max-width: 100%;
    border: none;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.tile {
  width: 100%;
  height: 100%;
  background: #f4e2b8;
  border-radius: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #333;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(0.6);
  opacity: 0;

  box-shadow: 0 2px 0 #c9b48a;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* apparition */
.tile.show {
  animation: popIn 0.35s ease;
  opacity: 1;
  transform: scale(1);
}

/* animation bounce */
@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* petit effet press */
.tile:active {
  transform: scale(0.95);
  box-shadow: 0 1px 0 #c9b48a;
}

@media (min-width: 600px) {
  .level, .responses {
    flex-direction: row;
    justify-content: center;
  }

  .responseAnswer{
    margin: 30px;
    min-height: 30px;
  }

  .level button {
    max-width: 200px;
    flex: 1;
  }
}
