<div id="footer" style="background: url('assets/background_footer.png') no-repeat center / cover;">
    <div class="contentFooter">
        <p class="titleFooter">{{titleFooter}}</p>
        <p class="underTitleFooter">{{subTitleFooter}}</p>
        <div class="inputbuttonwaitlist">
            <input class="form-control" matInput placeholder="{{enterEmail}}" formControlName="email">
            <button class="button-width50">
                <span>{{joinWaitList}}</span>
            </button>
            <div id="footline"></div>
            <p class="underTitleFooter underTitleFooterBottom">{{currentlyDev}}</p>
        </div>
    </div>
</div>

