<div id="footer" style="background: url('assets/background_footer.png') no-repeat center / cover;">
    <div class="contentFooter">
        <p class="titleFooter">{{titleFooter}}</p>
        <p class="underTitleFooter">{{subTitleFooter}}</p>
        <div class="inputbuttonwaitlist">
            <!--form [formGroup]="emailForm"-->
            <div>
                <input class="form-control" matInput placeholder="{{enterEmail}}" [(ngModel)]="email">
            <!--/form-->
            </div>
            <button class="button-width50" (click)="submitEmail()">
                <span>{{joinWaitList}}</span>
            </button>
            <div id="footline"></div>
            <p class="underTitleFooter underTitleFooterBottom">{{currentlyDev}}</p>
        </div>
    </div>
</div>
<app-popup *ngIf="showPopup" 
    (parentFirstMethod)="ok()"
    [titleContent]="''"
    [content]="errorMessage!=''? errorMessage : successMessage"
    [titleButton1]="'OK'"
    ></app-popup>

