#footer{
    min-height: 300px;
    width: 100%;
    background-color: #f7f7fe;
}

.contentFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.titleFooter{
    color: #0c437e;
    font-size: 26px;
    margin-bottom: 15px;
    font-family: "InterBold";
    text-align: center;
}

.underTitleFooter{
    margin-top: 20px;
    color: #6a7b97;
    font-size: 18px;
    font-family: "InterBold";
    text-align: center;
}

.underTitleFooterBottom{
    font-size: 15px;
}

.inputbuttonwaitlist{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footline{
    width: 80%;
    border: 0;
    height: 100%;
    margin:18px 0;
    position:relative;
}

#footline:before {
    content: "";
    display: block;
    border-top: solid 1px rgba(255,100,100,0.100);
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 1;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.logoSocial{
    width: 28px;
    height: 28px;
    cursor: pointer;
}

@media only screen and (max-width:1000px) {
    .contentFooter{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px){
    .form-control{
        min-width: 100%;
    }

    .button-width50{
        width: 100%;
        min-width: 100%;
    }

    .underTitleFooter{
        font-size: 15px;
    }

    .underTitleFooterBottom{
        font-size: 12px;
    }

    .titleFooter{
        font-size: 20px;
    }
}
